*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s;
}



a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    font-size: inherit;
    cursor: pointer;
}

button:focus, button:active {
    outline: none;
}

ul {
    list-style: none;
    padding-left: 0;
}